body
{
  /*background-color:#e9f2ff;
  background-color: #F7FFE5;*/
  background-color: #E6E8B2;
  
}

.segment
{
  height: 100px;
  overflow: auto;
}
.segment .image
{
  float: left;
  padding-left: 5px;
  padding-right: 10px;
}
.segment .image img
{
  max-height: 100px;
  max-width: 75px;
}
.segment-container
{
  margin: 10px 0px 0px 10px;
}
.source-icon
{
}

.source-icon img
{
  top: 0;
  right: 0;
  float: right;
  height: 16px;
  width: 16px;
}
div.ajax-dialog img
{
  position: relative;
  top: 30%;
  left: 48%;
}

